NODE_ENV=local
PORT=7001

DATABASE_URL=mysql://payment_user:payment_pass@127.0.0.1:3306/payment_poc
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=payment_poc
DB_USERNAME=payment_user
DB_PASSWORD=payment_pass

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

APP_KEYS=change_me_for_local_dev

